@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR STARTS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.logo img {
  max-width: 140px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links .area-riservata {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

/* Menu hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 1.5px;
  background-color: #000;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5a165;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mobile-menu ul {
  padding: 0;
  height: 50vh;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

.mobile-menu .area-riservata {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: black;
}

.mobile-logo img {
  max-width: 200px;
  height: auto;
}

/* MAIN STARTS */
.hero {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  margin: 7rem 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 15rem;
  font-weight: 300;
}

.hero-subtitle span {
  font-weight: 700;
}

.hero-text {
  max-width: 20%;
  text-align: center;
  margin-bottom: 5rem;
}

/* MAIN CONTENT STARTS */

.boxes-container {
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  background-color: grey;
  width: 50%;
  display: flex;
}

.boxes-text-content {
  width: 50%;
}

/* FOOTER STARTS*/
.footer {
  background-color: rgba(255, 119, 0, .56);
  display: flex;
  justify-content: space-evenly;
  border-top: 4px solid;
  border-image: linear-gradient(90deg, #fcdd11, #e1097e) 1;
}

.footer-content {
  /* background-color: grey; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-content h3 {
  margin-top: 2rem;
}

.footer-content:last-child {
  padding-right: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.links a {
  text-decoration: none;
  color: black;
  margin: 0.3rem 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  max-width: 70%;
  max-height: 70%;
  /* flex-grow: 1; */
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.social-links {
  margin: .4rem;
}

.social-icons {
  max-height: 50px;
  max-width: 50px;
}

.footer-logo {
  background-color: rgba(255, 119, 0, .56);
  padding: 1rem;
  text-align: center;
}


@media (max-width: 768px) {

  /* navbar media query */
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
  }

  /* footer */
  .footer {
    flex-direction: column;
  }

  .footer-content {
    margin-bottom: 2rem;
  }

  .footer-content h3 {
    margin-bottom: 0.4rem
  }

  .footer-content:nth-child(2) {
    order: -1;
  }

  .footer-content:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }

  .map {
    height: 20vh;
    margin-bottom: 0.5rem;
  }

}

.social-icons {
  max-height: 50px;
  max-width: 50px;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
  }
}

/* NAVBAR ENDS */


/* ATTIVITA STARTS */

.page-title {
  text-align: center;
}


/* secondary menu */
.secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.secondary a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
  padding: 15px;
  font-weight: bold;
}

/* hidden class */
.hidden {
  display: none;
}

/* styling links */
.secondary a:hover {
  cursor: pointer;
  color: #F09321;
  border-bottom: 2px solid #F09321;
}

.secondary a.active,
.active {
  color: #F09321;
  border-bottom: 2px solid #F09321;
}

/* attivita div */
.attivita {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  animation: fadeIn 0.8s ease-in-out;
}

@media screen and (min-width:1180px) {
  .attivita {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}



.card-attivita {
  display: flex;
}


.foto-attivita {
  width: 50%;
  display: flex;
  justify-content: center;
}

.foto-attivita img {
  width: 350px;
}

.descrizione-attivita {
  width: 50%;
  padding: 2rem;
}

@media screen and (max-width:768px) {
  .card-attivita {
    flex-direction: column;
  }

  .foto-attivita {
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1;
  }

  .foto-attivita img {
    width: 80%;
  }

  .descrizione-attivita {
    width: 100%;
  }
}


/* ACCORDION LABORATORI */

.laboratori {
  display: flex;
}

.laboratori-list {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  text-align: center;
}

.accordion {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background-color: #ffe2cd;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
  animation: fadeIn 0.8s ease;
}

.accordion-content p {
  margin: 0;
}

.accordion-header span {
  transition: transform 0.3s ease;
}

.accordion-header.active span {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1179px) {
  .laboratori {
    flex-direction: column;
  }

  .laboratori-list {
    width: 100vw;
    height: auto;
  }
}


/* ATTIVITA ENDS */



/* PRENOTA STARTS */

.prenota-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar-container {
  width: 50vw;
}


.form-info {
  height: max-content;
  width: 100%;
  width: 50vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}


input,
textarea,
select {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 15px;
  outline: none;
  transition: all 0.3s ease;
}

textarea {
  border-radius: 13px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 165, 0, 0.6);
}



.calendar {
  height: max-content;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding: 15px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 50px;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: gray;
  font-size: 16px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  color: black;
  font-weight: bold;
}

.calendar-days div {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

.month-picker {
  padding: 5px 10px;
}

.month-picker:hover {
  background-color: #f09321;
  border-radius: 28px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
  cursor: default;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: #f09321;
}

.calendar-days div:hover {
  background-color: #f09321;
  border-radius: 50%;
  color: white;
}

.calendar-days div.selected {
  border-radius: 50%;
  background-color: #f09321;
  color: #fff;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  color: black;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: none;

  transition: all 0.2s ease-in-out;
}

.month-list>div {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.month-list>div:hover {
  background-color: #f5a165;
}

.show {
  display: grid;
  transform: scale(1);
}

.disabled {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.domenica,
.calendar-body .calendar-week-day div.domenica {
  color: #f09321;
}



@media (max-width: 1179px) {
  .prenota-container {
    width: 90%;
  }

  .calendar {
    width: 100%;
  }
}

@media (max-width: 967px) {
  .prenota-container {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .calendar-container {
    width: 80vw;
  }

  .form-info {
    width: 80vw;
  }


}


@media (max-width: 768px) {

  .month-list>div {
    padding: 0;
  }

  .calendar {
    padding: 5px;
    width: 100%;
  }

  .calendar-header {
    font-size: 20px;
  }

  .calendar-days div {
    font-size: 18px;
  }

  .year-change {
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {


  .prenota-container {
    width: 100%;
  }

  .calendar-header {
    flex-direction: column;
    text-align: center;
  }

}


.conferma-container {
  background-color: #fff;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#selected-date {
  font-weight: bold;
}

.conferma-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.conferma-button {
  background-color: #F09321;
  color: #fff;
  padding: 20px 40px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}

.conferma-button:hover {
  background-color: #f5a165;
  cursor: pointer;

}




@media (max-width: 967px) {

  .conferma-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .conferma-button {
    width: 50%;
  }
}


/* PRENOTA ENDS */