@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR STARTS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.logo img {
  max-width: 140px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links .area-riservata {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

/* Menu hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 1.5px;
  background-color: #000;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5a165;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mobile-menu ul {
  padding: 0;
  height: 50vh;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

.mobile-menu .area-riservata {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: black;
}

.mobile-logo img {
  max-width: 200px;
  height: auto;
}

/* MAIN STARTS */

/* header */
.hero {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  margin: 7rem 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 15rem;
  font-weight: 300;
}

.hero-subtitle span {
  font-weight: 700;
}

.hero-text {
  max-width: 20%;
  text-align: center;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {

  /* header */
  .hero-subtitle {
    text-align: center;
    margin: 0 2rem 5rem 2rem;
  }

  .hero-text {
    margin-bottom: 5rem;
    max-width: 40%;
  }
}

/* main content */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.boxes {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.boxes-text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxes-text-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home-text p {
  max-width: 90%;
}

.cta-link {
  margin-top: 2rem;
}

.home-cta-buttons {
  text-decoration: none;
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  float: right;
  text-align: center;
}

.boxes-image {
  width: 40%;
  height: fit-content;
  object-fit: cover;
}

@media (max-width: 768px) {

  /* HOME main content */
  .boxes-container {
    flex-direction: column;
  }

  .boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxes-text-content {
    width: 80%;
  }

  .boxes-image {
    width: 80%;
    order: 1;
    margin-top: 1rem;
  }
}

@media (min-width: 769px) {

  /* HOME main content */

  .boxes {
    width: 100%;
  }

  .boxes-text-content h3 {
    font-size: 1.8rem;
  }

  .home-text p {
    font-size: 1.1rem;
    max-width: 100%;
  }

  .cta-link {
    margin-top: 0.5rem;
  }

  .home-cta-buttons {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}

@media (min-width: 1179px) {

  .boxes {
    width: 50%;
  }

  .boxes-text-content h3 {
    font-size: 1.6rem;
  }

  .home-text p {
    font-size: 1rem;
  }

  .cta-link {
    margin-top: 0.5rem;
  }

  .home-cta-buttons {
    font-size: 1rem;
    padding: 0.8rem;
  }
}


/* FOOTER STARTS*/
.footer {
  background-color: rgba(255, 119, 0, .56);
  display: flex;
  justify-content: space-evenly;
  border-top: 4px solid;
  border-image: linear-gradient(90deg, #fcdd11, #e1097e) 1;
}

.footer-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-content h3 {
  margin-top: 2rem;
}

.footer-content:last-child {
  padding-right: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.links a {
  text-decoration: none;
  color: black;
  margin: 0.3rem 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  max-width: 70%;
  max-height: 70%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  margin-bottom: 0.5rem;
}

.social-links-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.social-links {
  margin: .4rem;
}

.social-icons {
  max-height: 50px;
  max-width: 50px;
}

.footer-logo {
  background-color: rgba(255, 119, 0, .56);
  text-align: center;
}

.footer-logo img {
  height: 100px;
  width: auto;
}

@media (max-width: 768px) {

  /* footer */
  .footer {
    flex-direction: column;
  }

  .footer-content {
    margin-bottom: 2rem;
  }

  .footer-content h3 {
    margin-bottom: 0.4rem
  }

  .footer-content:nth-child(2) {
    order: -1;
  }

  .footer-content:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }

  .map {
    height: 20vh;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {

  /* Navbar */
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .mobile-menu.active {
    opacity: 1;
    visibility: visible;
  }
}

/* NAVBAR ENDS */


/* ATTIVITA STARTS */

.page-title {
  text-align: center;
}


/* secondary menu */
.secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.secondary a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
  padding: 15px;
  font-weight: bold;
}

/* hidden class */
.hidden {
  display: none;
}

/* styling links */
.secondary a:hover {
  cursor: pointer;
  color: #F09321;
  border-bottom: 2px solid #F09321;
}

.secondary a.active,
.active {
  color: #F09321;
  border-bottom: 2px solid #F09321;
}

/* attivita div */
.attivita {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  animation: fadeIn 0.8s ease-in-out;
}

@media screen and (min-width:1180px) {
  .attivita {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}



.card-attivita {
  display: flex;
}


.foto-attivita {
  width: 50%;
  display: flex;
  justify-content: center;
}

.foto-attivita img {
  width: 350px;
}

.descrizione-attivita {
  width: 50%;
  padding: 2rem;
}

@media screen and (max-width:768px) {
  .card-attivita {
    flex-direction: column;
  }

  .foto-attivita {
    width: 100%;
    display: flex;
    justify-content: center;
    order: -1;
  }

  .foto-attivita img {
    width: 80%;
  }

  .descrizione-attivita {
    width: 100%;
  }
}


/* ACCORDION LABORATORI */

.laboratori {
  display: flex;
}

.laboratori-list {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  text-align: center;
}

.accordion {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background-color: #ffe2cd;
}

.accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
  animation: fadeIn 0.8s ease;
}

.accordion-content p {
  margin: 0;
}

.accordion-header span {
  transition: transform 0.3s ease;
}

.accordion-header.active span {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1179px) {
  .laboratori {
    flex-direction: column;
  }

  .laboratori-list {
    width: 100vw;
    height: auto;
  }
}


/* ATTIVITA ENDS */



/* PRENOTA STARTS */

.prenota-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar-container {
  width: 50vw;
}


.form-info {
  height: max-content;
  width: 100%;
  width: 50vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

#hidden-datepicker-checkin,#hidden-datepicker-checkout  {
  display: none;
}

input,
textarea,
select {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 15px;
  outline: none;
  transition: all 0.3s ease;
}

textarea {
  border-radius: 13px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 165, 0, 0.6);
}

#check-in-time, #check-out-time{
  font-size: 1.5rem;
}


.calendar {
  height: max-content;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding: 15px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 50px;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: gray;
  font-size: 16px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  color: black;
  font-weight: bold;
}

.calendar-days div {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

.month-picker {
  padding: 5px 10px;
}

.month-picker:hover {
  background-color: #f09321;
  border-radius: 28px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
  cursor: default;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: #f09321;
}

.calendar-days div:hover {
  background-color: #ffffff00;
  border: 2px solid #f09321;
  border-radius: 50%;
}

.calendar-days div.selected {
  border-radius: 50%;
  background-color: #f09321;
  color: #fff;
}

.calendar-day-hover.range{
  background-color: #ffa73b85;
  border-radius: 50%;
}


.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  color: black;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: none;

  transition: all 0.2s ease-in-out;
}

.month-list>div {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.month-list>div:hover {
  background-color: #f5a165;
}

.show {
  display: grid;
  transform: scale(1);
}

.disabled {
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

.domenica,
.calendar-body .calendar-week-day div.domenica {
  color: #f09321;
}



@media (max-width: 1179px) {
  .prenota-container {
    width: 90%;
  }

  .calendar {
    width: 100%;
  }
}

@media (max-width: 967px) {
  .prenota-container {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .calendar-container {
    width: 80vw;
  }

  .form-info {
    width: 80vw;
  }


}


@media (max-width: 768px) {

  .month-list>div {
    padding: 0;
  }

  .calendar {
    padding: 5px;
    width: 100%;
  }

  .calendar-header {
    font-size: 20px;
  }

  .calendar-days div {
    font-size: 18px;
  }

  .year-change {
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {


  .prenota-container {
    width: 100%;
  }

  .calendar-header {
    flex-direction: column;
    text-align: center;
  }

}


.conferma-container {
  background-color: #fff;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  transition:  transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.conferma-container.hidden{
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none; 
}


#selected-date {
  font-weight: bold;
}

.conferma-info {
  font-size: 24px;
  width: 30%;
}

.conferma-button {
  background-color: #F09321;
  color: #fff;
  padding: 20px 40px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}

.conferma-button:hover {
  background-color: #f5a165;
  cursor: pointer;

}

#check-in-confirm, #check-out-confirm{
  display: inline;
  font-weight: 500;
}



@media (max-width: 967px) {

  .conferma-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .conferma-button {
    width: 50%;
  }
}




/* PRENOTA ENDS */



/* LOGIN STARTS */
.login-container {
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  margin: 20px auto;
  padding: 20px;
}

.login-container h2 {
  text-align: center;
  font-size: 1.5em;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#accediBtn {
  border: none;
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  text-align: center;
}

#accediBtn:hover {
  cursor: pointer;
}

.login-utilities {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#passwordRecovery {
  color: #F09321;
  text-decoration: none;
  text-align: end;
  padding: 10px;
  font-size: 0.9em;
}


@media (min-width: 768px) {
  .login-container {
    width: 70%;
  }

  .login-form {
    width: 70%;
  }

  #accediBtn {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .login-container {
    width: 50%;
  }

  .login-form {
    width: 70%;
  }
}

/* LOGIN ENDS */



/* PASSWORD DIMENTICATA STARTS */
.password-recovery-container {
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  margin: 20px auto;
  padding: 20px;
}

#password-recovery-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#resetPwdBtn {
  border: none;
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  text-align: center;
}

#resetPwdBtn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#backToLogin {
  color: #F09321;
  text-decoration: none;
  text-align: end;
  padding: 10px;
  font-size: 0.9em;
}


@media (min-width: 768px) {
  .password-recovery-container {
    width: 70%;
  }

  #password-recovery-form {
    width: 70%;
  }

  #resetPwdBtn {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .password-recovery-container {
    width: 50%;
  }

  #password-recovery-form {
    width: 70%;
  }
}

/* PASSWORD DIMENTICATA ENDS */


/* CHATBOT STARTS */

/* Replay icon for user messages */
.message.user .text span {
  color: #888;
  /* Gray color for the icon */
}

.message.user .text span:hover {
  color: #007bff;
  /* Blue on hover */
}

/* Chatbot Button at the bottom right */
#informationFormContainer {
  display: none;
  position: fixed;
  bottom: 160px;
  right: 20px;
  width: 90%;
  max-width: 700px;
  height: 80%;
  max-height: 600px;
  background-color: #fff;
  border: 2px solid #F09321;
  border-radius: 28px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}

#chatbotButton {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #F09321;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

#informationButton {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 105px;
  right: 25px;
  background-color: #fff;
  color: #F09321;
  border: 2px solid #f09321;
  cursor: pointer;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}


@media (max-width: 768px) {
  #informationFormContainer {
    bottom: 130px;
    right: 5%;
    width: 95%;
    height: 85%;
    padding: 15px;
  }

  #chatbotButton {
    bottom: 15px;
    right: 15px;
  }

  #informationButton {
    bottom: 90px;
    right: 20px;
  }
}

@media (max-width: 480px) {
  #informationFormContainer {
    bottom: 120px;
    right: 2%;
    width: 96%;
    height: 90%;
    padding: 10px;
  }

  #chatbotButton {
    bottom: 10px;
    right: 10px;
  }

  #informationButton {
    bottom: 80px;
    right: 15px;
  }
}


@media (max-width: 768px) {
  #informationFormContainer {
    top: 10%;
    right: 2.5%;
    width: 95%;
    height: 90%;
    padding: 15px;
    border-radius: 20px;
  }
}


@media (max-width: 480px) {
  #informationFormContainer {
    right: 2%;
    width: 96%;
    height: 95%;
    padding: 10px;
    border-radius: 15px;
  }
}

#informationFormContainer h3 {
  text-align: center;
}

#informationFormContainer.show {
  display: flex;
}

#informationFormContainer form {
  display: flex;
  flex-direction: column;
}

.info-form-field {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
}

#sendInfoButton {
  text-decoration: none;
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: none;
}

#sendInfoButton:hover {
  cursor: pointer;
}




#chatbotButton:hover {
  background-color: #f09321;
}

/* Chatbot Container */
#chatbotContainer {
  position: fixed;
  bottom: 80px;
  right: 100px;
  width: 300px;
  height: 400px;
  background-color: #ebebeb;
  border-radius: 28px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}


@media (max-width: 768px) {
  #chatbotContainer {
    right: 80px;
  }
}


@media (max-width: 480px) {
  #chatbotContainer {
    right: 60px;
  }
}


/* Chatbot Header */
#chatbotHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #F09321;
  padding: 10px;
}

#closeChatbot {
  background-color: transparent;
  border: none;
}

#closeChatbot:hover {
  cursor: pointer;
}

/* Messages */
#chatMessages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#chatMessages::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  border-radius: 28px;
}

.message.user {
  align-items: flex-end;
}

.message.bot {
  align-items: flex-start;
}

.message .text {
  max-width: 75%;
  padding: 15px;
  font-size: 14px;
  word-wrap: break-word;
  border-radius: 28px;
}

.message.user .text {
  background-color: #F09321;
  color: #fff;
}

.message.bot .text {
  background-color: #ffffff;
  color: black;
}

/* Buttons for chatbot */
.buttons-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons-container button {
  width: fit-content;
  background-color: white;
  color: #F09321;
  border: 1px solid #F09321;
  padding: 8px;
  border-radius: 28px;
  margin-top: 5px;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #fff8f0;
}

.buttons-container button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.buttons-container .askMoreButton {
  border: 1.5px solid #F09321;
  color: #F09321;
}

/* CHATBOT ENDS */

/* STRUTTURA STARTS */

#struttura {
  margin-bottom: 70px;
  margin-top: 70px;
}

.card-struttura {
  display: flex;
}

.descrizione-struttura {
  width: 50%;
  padding: 2rem;
}


.foto-struttura {
  width: 50%;
  display: flex;
  justify-content: center;
}

.foto-struttura img {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .struttura {
    padding: 10px;
  }

  .card-struttura {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
  }

  .foto-struttura img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .descrizione-struttura {
    font-size: 1rem;
    padding: 10px;
    line-height: 1.5;
  }

  .card-struttura .foto-struttura {
    order: -1;
  }
}

/* STRUTTURA ENDS */

/* BACKOFFICE REQUESTS STARTS */

.requests-welcome {
  margin-bottom: 2rem;
}

.content {
  margin: 20px auto;
}

.request-page-header {
  margin: 4rem 0 8rem 8rem;
}

.requests-back-button {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

.pagination-button {
  background: linear-gradient(90deg, #fcdd11, #e1097e);
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
}

.request-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
  width: 80%;
  margin-top: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

.request-container h3 {
  padding: 20px;
}

.request-header {
  padding: 20px;
  border-top: 1px solid black;
}

.request-header-selected {
  background-color: rgba(240, 147, 33, 0.42);
}

.request-header:hover {
  cursor: pointer;
  background-color: rgba(240, 147, 33, 0.42);
}

.request-body-table {
  margin: 0 auto;
}

.request-table-row th,
.request-table-row td {
  padding: 0 1rem;
}

.form-control {
  max-width: 200px;
}

.form-button {
  background-color: rgba(240, 147, 33, 0.42);
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin: 0.1rem;
  cursor: pointer;
}

.assign-status-submit-button,
.assign-user-submit-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(240, 147, 33, 0.42);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.request-body {
  background-color: rgba(240, 147, 33, 0.42);
}

.request-body-table {
  max-width: 80%;
}

.assignment-form {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
}

.request-action-close-modal {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(240, 147, 33, 0.42);
  border-radius: 5px;
  padding: 5px 9px;
  cursor: pointer;
}

.request-table-header th {
  background-color: rgba(255, 255, 255, 0);
  color: black
}

.profile-image {
  width: 50px;
  height: 50px;
}

.pagination {
  margin-left: 8rem;
}