<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Attività</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css?v=1.0" />

</head>

<body>
    <!-- NAVBAR STARTS -->
    <nav class="navbar">
        <div class="logo">
            EDUCATION
        </div>
        <ul class="nav-links">
            <li><a href="./Home.html">Home</a></li>
            <li><a href="#">Attività</a></li>
            <li><a href="./Struttura.html">Struttura</a></li>
            <li><a href="./Prenota.html">Prenota</a></li>
            <li><a href="/login" class="area-riservata">Area riservata</a></li>
        </ul>
        <!-- hamburger menu -->
        <div class="hamburger" onclick="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                <path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z">
                </path>
            </svg>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu" id="mobileMenu">
            <div class="close" onclick="toggleMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                    <path
                        d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
                    </path>
                </svg>
            </div>
            <ul>
                <li><a href="./Home.html">Home</a></li>
                <li><a href="#">Attività</a></li>
                <li><a href="./Struttura.html">Struttura</a></li>
                <li><a href="./Prenota.html">Prenota</a></li>
                <!-- Anchor links for Login and Registration -->
                <li><a href="/login" class="area-riservata">Area riservata</a></li>
            </ul>
            <div class="mobile-logo">
                EDUCATION
            </div>
        </div>
    </nav>
    <!-- NAVBAR ENDS -->
     <!-- ATTIVITA STARTS -->
     <h1 class="page-title" >Attività</h1>
     <div class="secondary">
       <a class="active" data-target="medie" href="#medie">Medie</a>
       <a data-target="superiori" href="#superiori">Superiori</a>
       <a data-target="tutti" href="#tutti">Tutti</a>
     </div>
 
     <div id="medie" class="attivita">
       <div class="card-attivita">
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Le regole</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?</div>
       </div>
       <div class="card-attivita">
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Mondo del gioco</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
 
       </div>
      
 
       </div>
 
     </div>
     <div id="superiori" class="hidden">
       <div class="card-attivita">
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">La mafia e il cinema</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
         
       </div>
       <div class="card-attivita">
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">I rischi del gioco</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
      
 
       </div>
     </div>
 
     <div id="tutti" class="hidden">
       <div class="card-attivita">
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Storia della cascina</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?</div>
       </div>
       <div class="card-attivita">
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Figura di Bruno Caccia</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
 
       </div>
       <div class="card-attivita">
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Agromafie</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
 
       </div>
       <div class="card-attivita">
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Beni confiscati</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
 
       </div>
       <div class="card-attivita">
         <div class="foto-attivita">
           <img src="https://www.geaves.com/media/catalog/product/cache/43ceea50484a8b0adcb18d996a748113/3/1/31552_5.webp" alt="">
         </div>
         <div class="descrizione-attivita">
           <h3 class="titolo-attivita">Miele e api</h3>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut mollitia nobis ab nam amet molestiae natus quam blanditiis ratione sequi molestias veniam ea velit, dicta autem eius a quo tempora consequuntur! Consequatur autem ipsum ad eaque velit at impedit laudantium?
         </div>
 
       </div>
     </div>
     <!-- ATTIVITA ENDS -->
      <!-- FOOTER STARTS -->
      <!-- FOOTER ENDS -->

<script src="../static/scripts/main.js"></script>
<script src="../static/scripts/attivita.js"></script>
</body>

</html>