<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<h2>Admin Dashboard</h2>
<h3>List of Users</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{/admin/deleteUser}" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <button sec:authorize="hasRole('ADMIN')" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>