<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/backoffice.css">
	<link rel="stylesheet" href="/styles/notification.css?v=1.0">
	<script src="/scripts/request.js"></script>

    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="EducatiON" />
    <link rel="manifest" href="/img/site.webmanifest" />

</head>

<body class="simplified-popup">
    <div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Education logo">
            </div>
            <a href="/profile">Home</a>
            <!-- Admin-specific buttons -->
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">Lista utenti</a>
            <a class="active-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Registra utente</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">Le tue tasks</a>
            <a href="/changePassword">Cambia password</a>
            <a href="/request" id="viewRequestsButton">Visualizza richieste<span class="badge" id="notificationBadge" th:text="${newFormCount}"></span></a>
            <a href="/profileImage">Immagine del profilo</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Esci</a>

        </div>
        <div class="backoffice-content">
        	<div class="content">
				<div class="request-page-header">
		            
		            <h2>Are you sure you want to delete this user?</h2><br>
		            
		            <!-- Error messages -->
					<div th:if="${success}" th:attr="data-success=${success}" class="hidden"></div>
					<div th:if="${error}" th:attr="data-error=${error}" class="hidden"></div>
			    
			    	<div id="custom-popup" class="popup hidden">
					    <div class="popup-content">
					        <span id="popup-logo"></span>
					        <span id="popup-claim"></span>
					        <span id="popup-message"></span>
					        <button id="popup-close">Chiudi</button>
					    </div>
					</div>
				
		            <!-- User details -->
		            <p>Name: <span th:text="${user.name}"></span></p><br>
		            <p>Surname: <span th:text="${user.surname}"></span></p><br>
		            <p>Email: <span th:text="${user.email}"></span></p><br>
		
		            <!-- Form to confirm deletion -->
		            <form th:action="@{/admin/deleteUser}" method="post">
		                <input type="hidden" name="userId" th:value="${user.id}" />
		                <button type="submit" class="requests-back-button">Yes, delete user</button>
		            
		            	<!-- Back button -->
	                	<a href="/admin/listUsers" class="requests-back-button">Back</a>
		            </form>

              	</div>
              	  
                <div class="request-container">
		            <!-- Display assigned forms for the user only if there are forms with "TO DO" or "IN PROGRESS" -->
		            <div class="table-container" th:if="${#lists.size(assignedForms) > 0}">
	                <h3>This person is still working on those forms:</h3>
	
	                <div th:each="generalForm : ${assignedForms}" class="request">
	                    <div class="request-header">
	                         <strong th:text="${generalForm.name ?: 'N/A'}"></strong>
	                         <span th:text="${generalForm.surname ?: 'N/A'}"></span> |
	                         <span th:text="${generalForm.email ?: 'N/A'}"></span>
	                     </div>
	
	                    <!-- Collapsible content for InformationForms -->
	                    <div th:id="'details-' + ${generalForm.id}">
	                    	<div th:if="${generalForm.informationForms != null and generalForm.informationForms.size() > 0}">
						        <div class="request-body hidden">
							        <table class="request-body-table">
							            <thead class="request-table-header"> 
							                <tr class="request-table-row">
							                    <th>Category</th>
							                    <th>Content</th>
							                    <th>Date</th>
							                    <th>Status</th>
							                </tr>
							            </thead>
							            <tbody>
							                <tr class="request-table-row" th:each="informationForm : ${generalForm.informationForms}">
							                    <td th:text="${generalForm.category.name ?: 'No category'}"></td>
							                    <td th:text="${informationForm.content ?: 'No content'}"></td>
							                    <td th:text="${generalForm.submissionDate ?: 'No date'}"></td>
							                    <td th:text="${informationForm.status ?: 'No status'}"></td>
							                </tr>
							            </tbody>
							        </table>
						        </div>
						    </div>
						
						    <!-- Loop through BookingForms -->
						    <div th:if="${generalForm.bookingForms != null and generalForm.bookingForms.size() > 0}">
						        <div class="request-body hidden">
							        <table class="request-body-table">
							            <thead class="request-table-header">
							                <tr class="request-table-row">
							                    <th>Category</th>
							                    <th>Content</th>
							                    <th>Date</th>
							                    <th>Check-In</th>
							                    <th>Check-Out</th>
							                    <th>Status</th>
							                </tr>
							            </thead>
							            <tbody>
							                <tr class="request-table-row" th:each="bookingForm : ${generalForm.bookingForms}">
							                    <td th:text="${generalForm.category.name ?: 'No category'}"></td>
							                    <td th:text="${bookingForm.content ?: 'No content'}"></td>
							                    <td th:text="${generalForm.submissionDate ?: 'No date'}"></td>
							                    <td th:text="${#dates.format(bookingForm.checkIn, 'dd-MM-yyyy') ?: 'No check-in date'}"></td>
							                    <td th:text="${#dates.format(bookingForm.checkOut, 'dd-MM-yyyy') ?: 'No check-out date'}"></td>
							                    <td th:text="${bookingForm.status ?: 'No status'}"></td>
							                </tr>
							            </tbody>
							        </table>
						        </div>
						    </div>
						</div>
	                </div>
            		</div>
        		</div>
        	</div>
        </div>
    </div>
    <script src="/scripts/notification.js"></script>
</body>

</html>