<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>
<body>
<h2>List Users</h2>

<!-- Form for searching users -->
<form method="get" th:action="@{/admin/listUsers}">
    <input type="text" name="query" th:value="${query}" placeholder="Search by email, name, or surname" />
    <button type="submit">Search</button>
    
    <button type="button" th:onclick="'window.location.href=\'' + @{/admin/listUsers} + '\''">View All Users</button>
	
</form>
<form method="get" th:action="@{/admin/listUsers}">
    <input type="hidden" name="query" th:value="${query}" />
    <button type="submit" name="sort" value="true">Sort A to Z</button>
    <button type="submit" name="sort" value="false">Sort Z to A</button>
</form>
<a href="/profile">Back </a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{/admin/deleteUser}" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <button sec:authorize="hasRole('ADMIN')" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<!-- Pagination Controls -->
    <div>
    <!-- First Page -->
    <a th:if="${currentPage > 1}" th:href="@{/admin/listUsers(page=1, query=${query}, sort=${sort})}">First Page</a>

    <!-- Previous Page -->
    <a th:if="${currentPage > 1}" 
       th:href="@{/admin/listUsers(page=${currentPage - 1}, query=${query}, sort=${sort})}" 
       class="btn btn-outline-primary mx-1">Previous Page</a>

    <!-- Display page numbers -->
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{/admin/listUsers(page=${i}, query=${query}, sort=${sort})}" 
           th:text="${i}" 
           class="btn btn-outline-primary mx-1" 
           th:classappend="${i == currentPage ? 'btn-primary text-white' : ''}"></a>
    </span>

    <!-- Next Page -->
    <a th:if="${currentPage < totalPages}" 
       th:href="@{/admin/listUsers(page=${currentPage + 1}, query=${query}, sort=${sort})}" 
       class="btn btn-outline-primary mx-1">Next Page</a>
    <!-- Last Page -->
    <a th:if="${currentPage < totalPages}" th:href="@{/admin/listUsers(page=${totalPages}, query=${query}, sort=${sort})}">Last Page</a>
</div>
</body>
</html>