<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
	<meta charset="UTF-8">
	<title>Lista utenti</title>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/style.css?v=1.0">
	<link rel="stylesheet" href="/styles/backoffice.css?v=1.0">
	<link rel="stylesheet" href="/styles/notification.css?v=1.0">

	<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="EducatiON" />
	<link rel="manifest" href="/img/site.webmanifest" />
</head>


<body class="simplified-popup">
	<div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Education logo">
            </div>
            <a href="/profile">Profilo</a>
            <!-- Admin-specific buttons -->
            <a class="active-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">Lista utenti</a>
            <a  sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Registra utente</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">I tuoi tasks</a>
            <a href="/changePassword">Cambia password</a>
            <a href="/request" id="viewRequestsButton">Visualizza richieste<span class="badge" id="notificationBadge" th:text="${newFormCount}"></span></a>
            <a href="/profileImage">Immagine profilo</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Esci</a>

        </div>
		<div class="backoffice-content" id="listUsers-container">
			<div class="profile-header">
				<h2>Lista Utenti</h2>
			</div>
			<p>Lista di tutti gli account</p><br>
			<!-- Error messages -->
			<div th:if="${success}" th:attr="data-success=${success}, data-claim-success=popup.success.user.claim" class="hidden"></div>
			<div th:if="${error}" th:attr="data-error=${error} , data-claim-error=popup.error.claim" class="hidden"></div>
		    
		    <!-- If no results -->
			<div th:if="${noResults}" th:attr="data-no-results=${noResults}" class="hidden"></div>
			
			<div id="custom-popup" class="popup hidden">
			    <div class="popup-content">
			        <span id="popup-logo"></span>
			        <span id="popup-claim" th:attr="data-translate=${success != null ? 'popup.success.user.claim' : (error != null ? 'popup.error.claim' : '')}"></span>
			        <span id="popup-message"></span>
			        <button id="popup-close">Chiudi</button>
			    </div>
			</div>
			
			<!-- Form for searching users -->
			<form method="get" th:action="@{/admin/listUsers}">
				<input type="text" name="query" th:value="${query}" placeholder="Cerca per nome, cognome o email" />
				<button type="submit">
					<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
								stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</g>
					</svg>
				</button>
				<button type="button" th:onclick="'window.location.href=\'' + @{/admin/listUsers} + '\''">Tutti gli utenti</button>
			</form>


			<!-- Sorting Dropdown -->
			<div class="sort-users">
				<form method="get" th:action="@{/admin/listUsers}" class="form-inline">
					<input type="hidden" name="page" th:value="${currentPage}" />
					<input type="hidden" name="size" th:value="${size}" />
					<select name="sortBy" onchange="this.form.submit()">
						<option value="surnameAsc" th:selected="${sortBy == 'surnameAsc'}">Cognome: A -> Z</option>
						<option value="surnameDesc" th:selected="${sortBy == 'surnameDesc'}">Cognome: Z -> A</option>
					</select>
					<noscript>
						<button type="submit">Ordina</button>
					</noscript>
				</form>
			</div>


			<!-- Exit page button -->
			<!--<a href="/profile">Indietro</a>-->

			<div th:if="${hasUsers}">


				<!-- Table with all users -->
				<table>
					<thead>
						<tr>
							<!-- <th>ID</th>-->
							<th>Nome</th>
							<th>Cognome</th>
							<th>Email</th>
							<th>Stato</th>
							<th>Ultimo accesso</th>
							<th>Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<!--  <td th:text="${user.id}"></td>-->
							<td th:text="${user.name}"></td>
							<td th:text="${user.surname}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.state}"></td>
							<td> 
								<span th:if="${user.state == 'OFFLINE' and user.lastAccess != null}" th:text="${user.lastAccess.format(formatter)}"></span>
								<span th:if="${user.state == 'OFFLINE' and user.lastAccess == null}">Mai effettuato l'accesso</span>
							</td>
							<td class="user-controls">


								<!-- Button to view Public Profile -->
								<a th:if="${user.id != loggedInUserId}" th:href="@{/admin/publicProfile/{userId}(userId=${user.id})}">
									<button class="profile-button" type="button">Visualizza profilo</button>
								</a>


								<!-- Button to delete profile -->
								<form th:action="@{/admin/deleteUser}" method="get"
									th:if="${user.id != loggedInUserId}">
									<input type="hidden" name="userId" th:value="${user.id}" />
									<button class="delete-button" sec:authorize="hasRole('ADMIN')"
										type="submit">Elimina</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<!-- Check if there's a message -->
			<div th:if="${message != null}">
				<p th:text="${message}"></p>
			</div>


			<div th:if="${users != null and users.size() > 0}">
				<!-- Pagination Controls -->
				<div>


					<!-- First Page -->
					<a th:if="${currentPage > 1}"
						th:href="@{/admin/listUsers(page=1, query=${query}, sortBy=${sortBy})}">Prima pagina</a>


					<!-- Previous Page -->
					<a th:if="${currentPage > 1}"
						th:href="@{/admin/listUsers(page=${currentPage - 1}, query=${query}, sortBy=${sortBy})}">Pagina precedente</a>

					<!-- Previous Block -->
			        <a th:if="${startPage > 1}" 
			           th:href="@{/admin/listUsers(page=${startPage - blockSize}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType}, assignation=${assignation}, startDate=${startDate}, endDate=${endDate})}">
			            &laquo; ...
			        </a>

					<!-- Display page numbers -->
					<span th:each="i : ${#numbers.sequence(startPage, endPage)}">
						<a th:href="@{/admin/listUsers(page=${i}, query=${query}, sortBy=${sortBy})}" th:text="${i}"
							th:classappend="${i == currentPage ? 'btn-primary text-white' : ''}"></a>
					</span>
					
					<!-- Next Block -->
			        <a th:if="${endPage < totalPages}" 
			           th:href="@{/admin/listUsers(page=${endPage + 1}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType}, assignation=${assignation}, startDate=${startDate}, endDate=${endDate})}">
			            ... &raquo;
			        </a>

					<!-- Next Page -->
					<a th:if="${currentPage < totalPages}"
						th:href="@{/admin/listUsers(page=${currentPage + 1}, query=${query}, sortBy=${sortBy})}">Pagina successiva</a>


					<!-- Last Page -->
					<a th:if="${currentPage < totalPages}"
						th:href="@{/admin/listUsers(page=${totalPages}, query=${query}, sortBy=${sortBy})}">Ultima pagina</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/scripts/message.js"></script>
	<script src="/scripts/notification.js"></script>
	<script src="/scripts/offline.js"></script>
	<script src="/scripts/translation.js"></script>
</body>


</html>