<!DOCTYPE html>
<html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="ISO-8859-1">
    <title>Immagine profilo</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css?v=1.0">
    <link rel="stylesheet" href="/styles/backoffice.css?v=1.0">
    <link rel="stylesheet" href="/styles/notification.css?v=1.0">

    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="EducatiON" />
    <link rel="manifest" href="/img/site.webmanifest" />
</head>

<body>
    <div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Education logo">
            </div>
            <a href="/profile">Profilo</a>
            <!-- Admin-specific buttons -->
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">Lista utenti</a>
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Registra utente</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">I tuoi tasks</a>
            <a href="/changePassword">Cambia password</a>
            <a href="/request" id="viewRequestsButton">Visualizza richieste<span class="badge" id="notificationBadge" th:text="${newFormCount}"></span></a>
            <a class="active-item" href="/profileImage">Immagine profilo</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Esci</a>

        </div>
        <div class="backoffice-content profile-image-wrapper">
            <div class="user-registration-container">
                <div class="profile-header">
                	<h2>Immagine profilo</h2><br>
                </div>
                <p>Selezione un'immagine da poter usare per il tuo profilo</p><br>
                <ul class="profile-img-list">

                    <!-- Iterate over allUserImages and display each image -->
                    <li class="profile-img-list-item" th:each="image : ${allUserImages}">

                        <!-- Wrap the image in a form to send the image id to the backend -->
                        <form th:action="@{/profileImage}" method="post">
                            <input type="hidden" name="userId" th:value="${user.id}" />
                            <input type="hidden" name="userImageId" th:value="${image.id}" />
                            <button type="submit" style="border: none; background: none;">
                                <div class="profile-img-wrapper">
                                    <img th:src="@{${image.imgPath}}" alt="Image" class="profile-img-list-img" />
                                </div>
                            </button>
                        </form>
                    </li>
                </ul>

                <!-- Back Button to Return to User List -->
                <!-- <a class="requests-back-button" href="/profile">Indietro</a>-->
            </div>
        </div>
    </div>
	<script src="/scripts/notification.js"></script>
	<script src="/scripts/offline.js"></script>
</body>

</html>