<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Profile images</title>
</head>
<body>
	<h2>Available Profile Images</h2>
    <div>
        <ul>
        
            <!-- Iterate over allUserImages and display each image -->
            <li th:each="image : ${allUserImages}">
            
                <!-- Wrap the image in a form to send the image id to the backend -->
                <form th:action="@{/profileImage}" method="post">
				    <input type="hidden" name="userId" th:value="${user.id}" />
				    <input type="hidden" name="userImageId" th:value="${image.id}"/>
				    <button type="submit" style="border: none; background: none;">
				        <img th:src="@{${image.imgPath}}" alt="Image" width="100" height="100"/>
				    </button>
				</form>
            </li>
        </ul>
    </div>

    <!-- Back Button to Return to User List -->
    <a href="/profile">Back</a>
</body>
</html>