<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="ISO-8859-1">
    <title>Profile</title>
</head>
<body>
    <h2>Welcome to the Home Page</h2>
    <p>You are successfully logged in!</p>
    <!-- Role of the authenticated user -->
	<div>
	    <p>Role in session: 
            <span th:text="${#authentication?.authorities?.isEmpty() ? 'No role' : #authentication?.authorities?.[0]?.authority}">No role</span>
        </p>
	</div>
    <!-- Admin-specific button -->
    <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/dashboard">
	    Admin Dashboard
	</a>
    <!-- Logout link -->
    <a th:href="@{/logout}">Logout</a>
</body>
</html>
