<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="ISO-8859-1">
	<title>Utente</title>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/style.css?v=1.0">
	<link rel="stylesheet" href="/styles/backoffice.css?v=1.0">
	<link rel="stylesheet" href="/styles/notification.css?v=1.0">

	<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="EducatiON" />
	<link rel="manifest" href="/img/site.webmanifest" />
</head>

<body>
	<div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Education logo">
            </div>
            <a href="/profile">Home</a>
            <!-- Admin-specific buttons -->
            <a class="active-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">Lista utenti</a>
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Registra utente</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">Le tue tasks</a>
            <a href="/changePassword">Cambia password</a>
            <a href="/request" id="viewRequestsButton">Visualizza richieste<span class="badge" id="notificationBadge" th:text="${newFormCount}"></span></a>
            <a href="/profileImage">Immagine del profilo</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Esci</a>

        </div>
		<div class="backoffice-content">
			<div id="user-container">
				<div class="container">
					<h2>Profilo Utente</h2>
			
					<!-- User personal details -->
					<div class="user-details">
						<p><strong>Nome:</strong> <span id="nome" th:text="${fullName}">Nessun nome trovato</span></p>
						<p><strong>Cognome:</strong> <span id="cognome" th:text="${surname}">Nessun cognome trovato</span></p>
						<p><strong>Email:</strong> <span th:text="${email}">Nessuna mail trovata</span></p>
						<p><strong>Stato:</strong> <span th:text="${state != null && !state.isEmpty() ? state : 'Nessuno stato trovato'}"></span></p>
						<p th:if="${state != null && state == 'OFFLINE'}">
					        <strong>Ultimo accesso:</strong> 
					        <span th:text="${lastAccess != null ? lastAccess.format(formatter) : 'N/A'}"></span>
					    </p>
						<div class="profile-img">
							<img src="https://cdn-icons-png.freepik.com/256/3985/3985214.png?ga=GA1.1.1838490280.1706974849&amp;semt=ais_hybrid" 
								 alt="Profile Image" 
								 width="100" 
								 height="100">
						</div>
					</div>
			
					<!-- Exit page button and view tasks button -->
					<div class="button-container">
						<a th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id})}">Visualizza tasks</a>
						<a href="/admin/listUsers" class="button-secondary">Indietro</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/scripts/notification.js"></script>
	<script src="/scripts/offline.js"></script>
	<script>
		document.title = `${document.getElementById("nome").textContent} ${document.getElementById('cognome').textContent} `;
	</script>
</body>

</html>