<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Form Requests</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/backoffice.css">

	<!-- <link rel="stylesheet" href="../static/styles/style.css"> -->

	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> -->
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
	<script src="/scripts/request.js"></script>
	<!-- <script src="../static/scripts/request.js"></script> -->

</head>

<body>
	<div class="requests-wrapper">
		<!-- SIDEBAR -->
		<div class="sidebar">
			<div class="sidebar-logo">
				<img src="/img/logo.png" alt="education logo">
			</div>
			<a href="/profile">Home</a>
			<!-- Admin-specific buttons -->
			<a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">List Users</a>
			<a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Register</a>


			<!-- Buttons for every user -->
			<a href="/yourTasks">Your tasks</a>
			<a href="/changePassword">Change password</a>
			<a href="/request">View all requests</a>
			<a href="/profileImage">Profile image</a>


			<!-- Logout link -->
			<a id="logoutBtn" th:href="@{/logout}">Logout</a>


		</div>
		<!-- MAIN CONTENT -->
		<div class="requests-main">
			<div class="content">

				<div class="request-page-header">
					<h2 class="requests-welcome">Benvenuto, Admin</h2>

					<!-- Exit page button -->
					<a href="/profile" class="requests-back-button">Back</a>
				</div>


				<!-- Table for the requests -->
				<div class="request-container">
					<h3>Richieste Informazioni recenti</h3>

					<!-- Loop through GeneralForms -->
					<div th:each="generalForm : ${generalForms}" class="request">
						<div class="request-header">
							<strong th:text="${generalForm.name ?: 'N/A'}"></strong>
							<span th:text="${generalForm.surname ?: 'N/A'}"></span> |
							<span th:text="${generalForm.email ?: 'N/A'}"></span>
						</div>

						<!-- Collapsible content for InformationForms -->
						<div th:id="'details-' + ${generalForm.id}">
							<div
								th:if="${generalForm.informationForms != null and generalForm.informationForms.size() > 0}">
								<div class="request-body hidden">
									<table class="request-body-table">
										<thead class="request-table-header">
											<tr class="request-table-row">
												<th>Categoria</th>
												<th>Messaggio</th>
												<th>Data</th>
												<th>Status</th>
												<th>Impiegato</th>
												<th sec:authorize="hasRole('ADMIN')">Azione</th>
											</tr>
										</thead>
										<tbody>

											<!-- Loop through InformationForms -->
											<tr class="request-table-row"
												th:each="informationForm : ${generalForm.informationForms}">
												<td th:text="${generalForm.category.name ?: 'No category'}"></td>
												<!-- Display Category -->
												<td th:text="${informationForm.getContent() ?: 'No content'}"></td>
												<td
													th:text="${generalForm.submissionDate.format(formatter) ?: 'No date'}">
												</td>
												<td th:text="${informationForm.getStatus() ?: 'TO DO'}"></td>
												<td>
													<div class="d-flex align-items-center">

														<!-- Check if assigned user exists -->
														<div th:if="${informationForm.getAssignedUser() != null}">
															<!-- User image -->
															<img th:src="${informationForm.getAssignedUser().getUserImage() != null ? informationForm.getAssignedUser().getUserImage().imgPath : '/default-user-image.png'}"
																class="profile-image"
																th:alt="'Image of ' + ${informationForm.getAssignedUser().name + ' ' + informationForm.getAssignedUser().surname}"
																data-toggle="tooltip"
																th:title="${informationForm.getAssignedUser().name + ' ' + informationForm.getAssignedUser().surname}" />
														</div>
														<div th:if="${informationForm.getAssignedUser() == null}">
															<span>No employee assigned</span>
														</div>
													</div>
												</td>
												<td>

													<!-- Button to open the assignment modal for user-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-user-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignUserModal-' + ${informationForm.id}">
														Assign User
													</button>

													<!-- Form to remove the currently assigned user from the InformationForm -->
													<form th:action="@{/removeUserFromInformationForm}" method="post"
														th:if="${informationForm.getAssignedUser() != null}"
														sec:authorize="hasRole('ADMIN')"
														onsubmit="return confirm('Are you sure you want to remove this user from the information form?');">
														<input type="hidden" name="informationFormId"
															th:value="${informationForm.id}" />
														<input type="hidden" name="userId"
															th:value="${informationForm.getAssignedUser().id}" />
														<button type="submit" class="form-button ">Remove User</button>
													</form>

													<!-- Button to open the assignment modal for status-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-status-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignStatusModal-' + ${informationForm.id}">
														Assign Status
													</button>

													<!-- Modal for user assignment -->
													<div th:id="'assignUserModal-' + ${informationForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-user-content hidden">
																<div class="modal-body">
																	<form action="/assignUser" method="post">
																		<input type="hidden" th:name="informationFormId"
																			th:value="${informationForm.id}">

																		<!-- User dropdown list -->
																		<div class="assignment-form">
																			<label for="userSelect">Select a
																				User</label>
																			<select class="form-control" id="userSelect"
																				name="userId" required>
																				<option value="" disabled selected>
																					Select a
																					user
																				</option>
																				<option th:each="user : ${users}"
																					th:value="${user.id}"
																					th:text="${user.name + ' ' + user.surname}">
																				</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-user-submit-button">Assign
																				User</button>
																			<button type="button"
																				class="request-action-close-modal close-user-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Modal for status assignment -->
													<div th:id="'assignStatusModal-' + ${informationForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-status-content hidden">
																<div class="modal-body">
																	<form action="/assignStatus" method="post">
																		<input type="hidden" th:name="informationFormId"
																			th:value="${informationForm.id}">

																		<!-- Status dropdown list -->
																		<div class="assignment-form">
																			<label for="statusSelect">Select a
																				status</label>
																			<select class="form-control"
																				id="statusSelect"
																				name="informationFormStatus" required>
																				<option value="" disabled selected>
																					Select a
																					status
																				</option>
																				<option value="TO DO">To do</option>
																				<option value="IN PROGRESS">In progress
																				</option>
																				<option value="DONE">Done</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-status-submit-button">Assign
																				Status</button>
																			<button type="button"
																				class="request-action-close-modal close-status-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div th:if="${generalForm.bookingForms != null and generalForm.bookingForms.size() > 0}">
								<!-- Table for Booking Forms -->
								<div class="request-body hidden">
									<table class="request-body-table">
										<thead class="request-table-header">
											<tr class="request-table-row">
												<th>Category</th>
												<th>Content</th>
												<th>Date</th>
												<th>Check-In</th>
												<th>Check-Out</th>
												<th>Status</th>
												<th>Assigned User</th>
												<th sec:authorize="hasRole('ADMIN')">Action</th>
											</tr>
										</thead>
										<tbody>
											<!-- Loop through BookingForms associated with the current GeneralForm -->
											<tr class="request-table-row"
												th:each="bookingForm : ${generalForm.bookingForms}">
												<td th:text="${generalForm.category.name ?: 'No category'}"></td>
												<td th:text="${bookingForm.content ?: 'No content'}"></td>
												<td
													th:text="${generalForm.submissionDate.format(formatter) ?: 'No date'}">
												</td>
												<td
													th:text="${#dates.format(bookingForm.checkIn, 'dd-MM-yyyy') ?: 'No check-in date'}">
												</td>
												<td
													th:text="${#dates.format(bookingForm.checkOut, 'dd-MM-yyyy') ?: 'No check-out date'}">
												</td>
												<td th:text="${bookingForm.status ?: 'No status'}"></td>
												<td>
													<div class="d-flex align-items-center">
														<div th:if="${bookingForm.getAssignedUser() != null}">
															<img th:src="${bookingForm.getAssignedUser().getUserImage() != null ? bookingForm.getAssignedUser().getUserImage().imgPath : '/default-user-image.png'}"
																class="profile-image"
																th:alt="'Image of ' + ${bookingForm.getAssignedUser().name + ' ' + bookingForm.getAssignedUser().surname}"
																data-toggle="tooltip"
																th:title="${bookingForm.getAssignedUser().name + ' ' + bookingForm.getAssignedUser().surname}" />
														</div>
														<div th:if="${bookingForm.getAssignedUser() == null}">
															<span>No employee assigned</span>
														</div>
													</div>
												</td>
												<td>

													<!-- Button to open the assignment modal for user-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-user-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignUserModal-' + ${bookingForm.id}">
														Assign User
													</button>

													<!-- Form to remove the currently assigned user from the InformationForm -->
													<form th:action="@{/removeUserFromBookingForm}" method="post"
														th:if="${bookingForm.getAssignedUser() != null}"
														sec:authorize="hasRole('ADMIN')"
														onsubmit="return confirm('Are you sure you want to remove this user from the booking form?');">
														<input type="hidden" name="bookingFormId"
															th:value="${bookingForm.id}" />
														<input type="hidden" name="userId"
															th:value="${bookingForm.getAssignedUser().id}" />
														<button type="submit" class="form-button">Remove
															User</button>
													</form>

													<!-- Button to open the assignment modal for status-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-status-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignStatusModal-' + ${bookingForm.id}">
														Assign Status
													</button>

													<!-- Modal for user assignment -->
													<div th:id="'assignUserModal-' + ${bookingForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-user-content hidden">
																<div class="modal-body">
																	<form action="/assignUserBooking" method="post">
																		<input type="hidden" th:name="bookingFormId"
																			th:value="${bookingForm.id}">

																		<!-- User dropdown list -->
																		<div class="assignment-form">
																			<label for="userSelect">Select a
																				User</label>
																			<select class="form-control" id="userSelect"
																				name="userId" required>
																				<option value="" disabled selected>
																					Select a
																					user</option>
																				<option th:each="user : ${users}"
																					th:value="${user.id}"
																					th:text="${user.name + ' ' + user.surname}">
																				</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-user-submit-button">Assign
																				User</button>
																			<button type="button"
																				class="request-action-close-modal close-user-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Modal for status assignment -->
													<div th:id="'assignStatusModal-' + ${bookingForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-status-content hidden">
																<div class="modal-body">
																	<form action="/assignStatusBooking" method="post">
																		<input type="hidden" th:name="bookingFormId"
																			th:value="${bookingForm.id}">

																		<!-- Status dropdown list -->
																		<div class="assignment-form">
																			<label for="statusSelect">Select a
																				status</label>
																			<select class="form-control"
																				id="statusSelect"
																				name="bookingFormStatus" required>
																				<option value="" disabled selected>
																					Select a
																					status</option>
																				<option value="TO DO">To do</option>
																				<option value="IN PROGRESS">In progress
																				</option>
																				<option value="DONE">Done</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-status-submit-button">Assign
																				Status</button>
																			<button type="button"
																				class="request-action-close-modal close-status-assignment">x</button>
																		</div>

																	</form>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Check if there's a message -->
			<div th:if="${message != null}">
				<p th:text="${message}"></p>
			</div>

			<div th:if="${generalForms != null and generalForms.size() > 0}">
				<!-- Pagination Controls -->
				<div class="pagination">
					<!-- First Page -->
					<a class="pagination-button" th:if="${currentPage > 1}" th:href="@{/request(page=1)}">First</a>

					<!-- Previous Page -->
					<a class="pagination-button" th:if="${currentPage > 1}"
						th:href="@{/request(page=${currentPage - 1})}">Previous</a>

					<!-- Page Numbers -->
					<span th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a class="pagination-button" th:href="@{/request(page=${i})}"
							th:classappend="${i == currentPage ? 'btn-primary text-white' : 'btn-light'}"
							th:text="${i}"></a>
					</span>

					<!-- Next Page -->
					<a class="pagination-button" th:if="${currentPage < totalPages}"
						th:href="@{/request(page=${currentPage + 1})}">Next</a>

					<!-- Last Page -->
					<a class="pagination-button" th:if="${currentPage < totalPages}"
						th:href="@{/request(page=${totalPages})}">Last</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>