<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Form Requests</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/styles/style.css">
	<!-- <link rel="stylesheet" href="../static/styles/style.css"> -->

	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> -->
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
	<script src="/scripts/request.js"></script>
	<!-- <script src="../static/scripts/request.js"></script> -->

</head>

<body>
	<div class="content">

		<div class="request-page-header">
			<h2 class="requests-welcome">Benvenuto, Admin</h2>

			<!-- Exit page button -->
			<a href="/profile" class="requests-back-button">Back</a>
		</div>


		<!-- Table for the requests -->
		<div class="request-container">
			<h3>Richieste Informazioni recenti</h3>

			<!-- Loop through GeneralForms -->
			<div th:each="generalForm : ${generalForms}" class="request">
				<div class="request-header">
					<strong th:text="${generalForm.name ?: 'N/A'}"></strong>
					<span th:text="${generalForm.surname ?: 'N/A'}"></span> |
					<span th:text="${generalForm.email ?: 'N/A'}"></span>
				</div>

				<!-- Collapsible content for InformationForms -->
				<div th:id="'details-' + ${generalForm.id}">
					<div class="request-body hidden">
						<table class="request-body-table">
							<thead class="request-table-header">
								<tr class="request-table-row">
									<th>Categoria</th>
									<th>Messaggio</th>
									<th>Data</th>
									<th>Status</th>
									<th>Impiegato</th>
									<th sec:authorize="hasRole('ADMIN')">Azione</th>
								</tr>
							</thead>
							<tbody>

								<!-- Loop through InformationForms -->
								<tr class="request-table-row"
									th:each="informationForm : ${generalForm.informationForms}">
									<td th:text="${generalForm.category.name ?: 'No category'}"></td>
									<!-- Display Category -->
									<td th:text="${informationForm.getContent() ?: 'No content'}"></td>
									<td th:text="${generalForm.submissionDate ?: 'No date'}"></td>
									<td th:text="${informationForm.getStatus() ?: 'TO DO'}"></td>
									<td>
										<div class="d-flex align-items-center">

											<!-- Check if assigned user exists -->
											<div th:if="${informationForm.getAssignedUser() != null}">
												<!-- User image -->
												<img th:src="${informationForm.getAssignedUser().getUserImage() != null ? informationForm.getAssignedUser().getUserImage().imgPath : '/default-user-image.png'}"
													class="profile-image"
													th:alt="'Image of ' + ${informationForm.getAssignedUser().name + ' ' + informationForm.getAssignedUser().surname}"
													data-toggle="tooltip"
													th:title="${informationForm.getAssignedUser().name + ' ' + informationForm.getAssignedUser().surname}" />
											</div>
											<div th:if="${informationForm.getAssignedUser() == null}">
												<span>No employee assigned</span>
											</div>
										</div>
									</td>
									<td>

										<!-- Button to open the assignment modal for user-->
										<button sec:authorize="hasRole('ADMIN')" class="form-button assign-user-button"
											type="button" data-toggle="modal"
											th:data-target="'#assignUserModal-' + ${informationForm.id}">
											Assign User
										</button>

										<!-- Form to remove the currently assigned user from the InformationForm -->
										<form th:action="@{/removeUserFromInformationForm}" method="post"
											th:if="${informationForm.getAssignedUser() != null}"
											sec:authorize="hasRole('ADMIN')"
											onsubmit="return confirm('Are you sure you want to remove this user from the information form?');">
											<input type="hidden" name="informationFormId"
												th:value="${informationForm.id}" />
											<input type="hidden" name="userId"
												th:value="${informationForm.getAssignedUser().id}" />
											<button type="submit" class="form-button ">Remove User</button>
										</form>

										<!-- Button to open the assignment modal for status-->
										<button sec:authorize="hasRole('ADMIN')"
											class="form-button assign-status-button" type="button" data-toggle="modal"
											th:data-target="'#assignStatusModal-' + ${informationForm.id}">
											Assign Status
										</button>

										<!-- Modal for user assignment -->
										<div th:id="'assignUserModal-' + ${informationForm.id}">
											<div class="modal-dialog" role="document">
												<div class="assign-user-content hidden">
													<div class="modal-body">
														<form action="/assignUser" method="post">
															<input type="hidden" th:name="informationFormId"
																th:value="${informationForm.id}">

															<!-- User dropdown list -->
															<div class="assignment-form">
																<label for="userSelect">Select a User</label>
																<select class="form-control" id="userSelect"
																	name="userId" required>
																	<option value="" disabled selected>Select a user
																	</option>
																	<option th:each="user : ${users}"
																		th:value="${user.id}"
																		th:text="${user.name + ' ' + user.surname}">
																	</option>
																</select>
															</div>
															<div class="request-action-button-container">
																<button type="submit"
																	class="assign-user-submit-button">Assign
																	User</button>
																<button type="button"
																	class="request-action-close-modal close-user-assignment">x</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>

										<!-- Modal for status assignment -->
										<div th:id="'assignStatusModal-' + ${informationForm.id}">
											<div class="modal-dialog" role="document">
												<div class="assign-status-content hidden">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
														</button>
													</div>
													<div class="modal-body">
														<form action="/assignStatus" method="post">
															<input type="hidden" th:name="informationFormId"
																th:value="${informationForm.id}">

															<!-- Status dropdown list -->
															<div class="assignment-form">
																<label for="statusSelect">Select a status</label>
																<select class="form-control" id="statusSelect"
																	name="informationFormStatus" required>
																	<option value="" disabled selected>Select a status
																	</option>
																	<option value="TO DO">To do</option>
																	<option value="IN PROGRESS">In progress</option>
																	<option value="DONE">Done</option>
																</select>
															</div>
															<div class="request-action-button-container">
																<button type="submit"
																	class="assign-status-submit-button">Assign
																	Status</button>
																<button type="button"
																	class="request-action-close-modal close-status-assignment">x</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Check if there's a message -->
	<div th:if="${message != null}">
		<p th:text="${message}"></p>
	</div>

	<div th:if="${generalForms != null and generalForms.size() > 0}">
		<!-- Pagination Controls -->
		<div class="pagination">
			<!-- First Page -->
			<a class="pagination-button" th:if="${currentPage > 1}" th:href="@{/request(page=1)}">First</a>

			<!-- Previous Page -->
			<a class="pagination-button" th:if="${currentPage > 1}"
				th:href="@{/request(page=${currentPage - 1})}">Previous</a>

			<!-- Page Numbers -->
			<span th:each="i : ${#numbers.sequence(1, totalPages)}">
				<a class="pagination-button" th:href="@{/request(page=${i})}"
					th:classappend="${i == currentPage ? 'btn-primary text-white' : 'btn-light'}" th:text="${i}"></a>
			</span>

			<!-- Next Page -->
			<a class="pagination-button" th:if="${currentPage < totalPages}"
				th:href="@{/request(page=${currentPage + 1})}">Next</a>

			<!-- Last Page -->
			<a class="pagination-button" th:if="${currentPage < totalPages}"
				th:href="@{/request(page=${totalPages})}">Last</a>
		</div>
	</div>

</body>

</html>