<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Register</title>
</head>
<body>
	<h1>Register</h1>
    <form th:action="@{/admin/register}" th:object="${user}" method="post">
    
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="surname">Surname:</label>
        <input type="text" name="surname" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
    
        <!-- Display success or error messages -->
        <p th:if="${exist}" style="color:red;" th:text="${exist}"></p>
        <p th:if="${regiSuccess}" style="color:green;" th:text="${regiSuccess}"></p>
        <p th:if="${error}" style="color:red;" th:text="${error}"></p>

        <button type="submit">Register</button>
    </form>
    <a href="/profile">Back </a>
</body>
</html>