<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>User Register</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css?v=1.0">
    <link rel="stylesheet" href="/styles/backoffice.css?v=1.0">
</head>

<body>
    <div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="education logo">
            </div>
            <a href="/profile">Home</a>
            <!-- Admin-specific buttons -->
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">List Users</a>
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Register</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">Your tasks</a>
            <a href="/changePassword">Change password</a>
            <a href="/request">View all requests</a>
            <a href="/profileImage">Profile image</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Logout</a>

        </div>
        <div class="backoffice-content">
            <h1>Register</h1>

    <!-- Register form -->
    <form th:action="@{/admin/register}" th:object="${user}" method="post">

        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="surname">Surname:</label>
        <input type="text" name="surname" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <!-- Display success or error messages -->
        <p th:if="${exist}" style="color:red;" th:text="${exist}"></p>
        <p th:if="${regiSuccess}" style="color:green;" th:text="${regiSuccess}"></p>
        <p th:if="${error}" style="color:red;" th:text="${error}"></p>

        <button type="submit">Register</button>
    </form>
    <a href="/profile">Back </a>
        </div>
    </div>
</body>

</html>