<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>User Register</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css?v=1.0">
    <link rel="stylesheet" href="/styles/backoffice.css?v=1.0">
    <link rel="stylesheet" href="/styles/notification.css?v=1.0">

    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="EducatiON" />
    <link rel="manifest" href="/img/site.webmanifest" />
</head>

<body class="simplified-popup">
    <div class="backoffice-container">
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Education logo">
            </div>
            <a href="/profile">Home</a>
            <!-- Admin-specific buttons -->
            <a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">Lista utenti</a>
            <a class="active-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Registra utente</a>

            <!-- Buttons for every user -->
            <a href="/yourTasks">Le tue tasks</a>
            <a href="/changePassword">Cambia password</a>
            <a href="/request" id="viewRequestsButton">Visualizza richieste<span class="badge" id="notificationBadge" th:text="${newFormCount}"></span></a>
            <a href="/profileImage">Immagine del profilo</a>

            <!-- Logout link -->
            <a id="logoutBtn" th:href="@{/logout}">Esci</a>

        </div>
        <div class="backoffice-content user-registration-wrapper">
            <div class="user-registration-container">
                <h2>Registrazione</h2>

				<!-- Error messages -->
				<div th:if="${success}" th:attr="data-success=${success}" class="hidden"></div>
				<div th:if="${error}" th:attr="data-error=${error}" class="hidden"></div>
					
				<div id="custom-popup" class="popup hidden">
				    <div class="popup-content">
				        <span id="popup-logo"></span>
				        <span id="popup-claim"></span>
				        <span id="popup-message"></span>
				        <button id="popup-close">Chiudi</button>
				    </div>
   				</div>	
   					
                <!-- Register form -->
                <form th:action="@{/admin/register}" th:object="${user}" method="post">

                    <div class="profile-info-group">
                        <label class="profile-info-labels" for="name">Nome:</label>
                        <input class="profile-info-forms" type="text" name="name" required><br>
                    </div>
                    <div class="profile-info-group">
                        <label class="profile-info-labels" for="surname">Cognome:</label>
                        <input class="profile-info-forms" type="text" name="surname" required><br>
                    </div>
                    <div class="profile-info-group">
                        <label class="profile-info-labels" for="email">Email:</label>
                        <input class="profile-info-forms" type="email" name="email" required><br>
                    </div>
                    <div class="profile-info-group">
                        <label class="profile-info-labels" for="password">Password:</label>
                        <input class="profile-info-forms" type="password" name="password" required><br>
                    </div>

                    <div class="profile-buttons-container">
                        <button class="requests-back-button" type="submit">Registra</button>
                    </div>
                </form>
                <a class="requests-back-button" href="/profile">Indietro </a>
            </div>

        </div>
    </div>
    <script src="/scripts/message.js"></script>
    <script src="/scripts/notification.js"></script>
    <script src="/scripts/offline.js"></script>
</body>

</html>