<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Your tasks public</title>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/style.css?v=1.0">
	<link rel="stylesheet" href="/styles/backoffice.css?v=1.0">

	<link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="EducatiON" />
	<link rel="manifest" href="/img/site.webmanifest" />
	<script src="/scripts/request.js"></script>
</head>

<body>
	<div class="backoffice-container">
		<div class="sidebar">
			<div class="sidebar-logo">
				<img src="/img/logo.png" alt="education logo">
			</div>
			<a href="/profile">Home</a>
			<!-- Admin-specific buttons -->
			<a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/listUsers">List Users</a>
			<a sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/admin/register">Register</a>

			<!-- Buttons for every user -->
			<a href="/yourTasks">Your tasks</a>
			<a href="/changePassword">Change password</a>
			<a href="/request">View all requests</a>
			<a href="/profileImage">Profile image</a>

			<!-- Logout link -->
			<a id="logoutBtn" th:href="@{/logout}">Logout</a>

		</div>
		<div class="backoffice-content">
			<!-- Display assigned forms for the user -->

			<!-- Table for the requests -->
			<div class="content">
				<div class="request-page-header">
					<h2 class="requests-welcome">Richieste assegnate a <span th:text="${userName}">Nome Utente</span> <span th:text="${userSurname}">Cognome Utente</span></h2>

					<!-- Exit page button -->
					<a href="/admin/listUsers" class="requests-back-button">Back</a>
				</div>

				<!-- Category Filter Form -->
				<div class="filter-container">
					<form method="get" th:action="@{/admin/yourTasksPublic/{userId}(userId=${user.id})}"
						class="form-inline">
						<input type="hidden" name="page" th:value="1" />
						<input type="hidden" name="size" th:value="${size}" />

						<!-- Category Checkbox Filters -->
						<div class="category-filter">
							<label for="categories">Categories:</label><br />

							<div class="category-container">
								<div class="category-item" th:each="category : ${categories}">
									<input type="checkbox" name="categories" th:value="${category.id}"
										th:checked="${selectedCategories != null and selectedCategories.contains(category.id)}" />
									<span th:text="${category.name}"></span><br />
								</div>
							</div>
						</div>

						<!-- Status Checkbox Filters -->
						<div class="status-filter">
							<label for="statuses">Status:</label><br />
							<div class="status-container">
								<div class="status-item">
									<input type="checkbox" name="statuses" value="TO DO"
										th:checked="${statusesSelected != null and statusesSelected.contains('TO DO')}" />
									TO DO
								</div>
								<div class="status-item">
									<input type="checkbox" name="statuses" value="IN PROGRESS"
										th:checked="${statusesSelected != null and statusesSelected.contains('IN PROGRESS')}" />
									IN PROGRESS
								</div>
								<div class="status-item">
									<input type="checkbox" name="statuses" value="DONE"
										th:checked="${statusesSelected != null and statusesSelected.contains('DONE')}" />
									DONE
								</div>
							</div>
						</div>

						<div class="sort-type-container">
							<!-- Sorting Dropdown -->
							<div class="sort-type-item">
								<label for="sortBy">Sort Type:</label>
								<select name="sortBy">
									<option value="newest" th:selected="${sortBy == 'newest'}">Date: Newest to Oldest
									</option>
									<option value="oldest" th:selected="${sortBy == 'oldest'}">Date: Oldest to Newest
									</option>
									<option value="surnameAsc" th:selected="${sortBy == 'surnameAsc'}">Surname: A to Z
									</option>
									<option value="surnameDesc" th:selected="${sortBy == 'surnameDesc'}">Surname: Z to A
									</option>
								</select>
							</div>


							<!-- Form Type Filter (Information Form or Booking Form) -->
							<div class="sort-type-item">
								<label for="formType">Form Type:</label>
								<select class="form-control" name="formType">
									<option value="all" th:selected="${formType == 'all'}">All</option>
									<option value="informationForm" th:selected="${formType == 'informationForm'}">
										Information Form</option>
									<option value="bookingForm" th:selected="${formType == 'bookingForm'}">Booking Form
									</option>
								</select>
							</div>
						</div>

						<div class="sort-buttons-container">
							<button type="submit" class="requests-back-button">Applica filtri</button>
							<a th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id})}"
								class="requests-back-button">Rimuovi filtri</a>
						</div>
					</form>
				</div>

				<!-- table for the requests -->
				<div class="request-container">
					<h3>Le richieste</h3>

					<!-- loop through general forms -->
					<div th:each="generalForm : ${assignedForms}" class="request">
						<div class="request-header">
							<strong th:text="${generalForm.name ?: 'N/A'}"></strong>
							<span th:text="${generalForm.surname ?: 'N/A'}"></span> |
							<span th:text="${generalForm.email ?: 'N/A'}"></span>
						</div>

						<!-- Collapsible content for InformationForms -->
						<div th:id="'details-' + ${generalForm.id}">
							<div
								th:if="${generalForm.informationForms != null and generalForm.informationForms.size() > 0}">
								<div class="request-body hidden">
									<table class="request-body-table">
										<thead class="request-table-header">
											<tr class="request-table-row">
												<th>Category</th>
												<th>Content</th>
												<th>Date</th>
												<th>Status</th>
												<th sec:authorize="hasRole('ADMIN')">Action</th>
											</tr>
										</thead>
										<tbody>

											<!-- Loop through InformationForms -->
											<tr class="request-table-row"
												th:each="informationForm : ${generalForm.informationForms}">
												<td th:text="${generalForm.category.name ?: 'No category'}"></td>
												<!-- Display Category -->
												<td th:text="${informationForm.getContent() ?: 'No content'}"></td>
												<td
													th:text="${generalForm.submissionDate.format(formatter) ?: 'No date'}">
												</td>
												<td th:text="${informationForm.getStatus() ?: 'TO DO'}">
												<td>
													
													<!-- Button to open the assignment modal for user-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-user-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignUserModal-' + ${informationForm.id}">
														Assegna un utente
													</button>

													<!-- Form to remove the currently assigned user from the InformationForm -->
													<form th:action="@{/removeUserFromInformationForm}" method="post"
														th:if="${informationForm.getAssignedUser() != null}"
														sec:authorize="hasRole('ADMIN')"
														onsubmit="return confirm('Are you sure you want to remove this user from the information form?');">
														<input type="hidden" name="informationFormId"
															th:value="${informationForm.id}" />
														<input type="hidden" name="userId"
															th:value="${informationForm.getAssignedUser().id}" />
														<button type="submit" class="form-button ">Rimuovi l'utente</button>
													</form>
													
													<!-- Button to open the assignment modal for status-->
													<button class="form-button assign-status-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignStatusModal-' + ${informationForm.id}">
														Assign Status
													</button>
													
													<!-- Modal for user assignment -->
													<div th:id="'assignUserModal-' + ${informationForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-user-content hidden">
																<div class="modal-body">
																	<form action="/assignUser" method="post">
																		<input type="hidden" th:name="informationFormId"
																			th:value="${informationForm.id}">

																		<!-- User dropdown list -->
																		<div class="assignment-form">
																			<label for="userSelect">Seleziona un utente</label>
																			<select class="form-control" id="userSelect"
																				name="userId" required>
																				<option value="" disabled selected>
																					Seleziona un utente
																				</option>
																				<option th:each="user : ${users}"
																					th:value="${user.id}"
																					th:text="${user.name + ' ' + user.surname}">
																				</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-user-submit-button">Assegna un utente</button>
																			<button type="button"
																				class="request-action-close-modal close-user-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
													
													<!-- Modal for status assignment -->
													<div th:id="'assignStatusModal-' + ${informationForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-status-content hidden">
																<div class="modal-body">
																	<form action="/admin/assignStatusPublicProfile"
																		method="post">
																		<input type="hidden" th:name="informationFormId"
																			th:value="${informationForm.id}">
																		<input type="hidden" th:name="userId"
																			th:value="${user.id}">

																		<!-- Status dropdown list -->
																		<div class="assignment-form">
																			<label for="statusSelect">Select a
																				status</label>
																			<select class="form-control"
																				id="statusSelect"
																				name="informationFormStatus" required>
																				<option value="" disabled selected>
																					Select a
																					status</option>
																				<option value="TO DO">To do</option>
																				<option value="IN PROGRESS">In progress
																				</option>
																				<option value="DONE">Done</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-status-submit-button">Assign
																				Status</button>
																			<button type="button"
																				class="request-action-close-modal close-status-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div th:if="${generalForm.bookingForms != null and generalForm.bookingForms.size() > 0}">
								<!-- Table for Booking Forms -->
								<div class="request-body hidden">
									<table class="request-body-table">
										<thead class="request-table-header">
											<tr class="request-table-row">
												<th>Category</th>
												<th>Content</th>
												<th>Date</th>
												<th>Check-In</th>
												<th>Check-Out</th>
												<th>Status</th>
												<th sec:authorize="hasRole('ADMIN')">Action</th>
											</tr>
										</thead>
										<tbody>
											<!-- Loop through BookingForms associated with the current GeneralForm -->
											<tr class="request-table-row"
												th:each="bookingForm : ${generalForm.bookingForms}">
												<td th:text="${generalForm.category.name ?: 'No category'}"></td>
												<td th:text="${bookingForm.content ?: 'No content'}"></td>
												<td
													th:text="${generalForm.submissionDate.format(formatter) ?: 'No date'}">
												</td>
												<td
													th:text="${#dates.format(bookingForm.checkIn, 'dd-MM-yyyy') ?: 'No check-in date'}">
												</td>
												<td
													th:text="${#dates.format(bookingForm.checkOut, 'dd-MM-yyyy') ?: 'No check-out date'}">
												</td>
												<td th:text="${bookingForm.status ?: 'No status'}"></td>
												<td>

													<!-- Button to open the assignment modal for user-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-user-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignUserModal-' + ${bookingForm.id}">
														Assegna un utente
													</button>

													<!-- Form to remove the currently assigned user from the InformationForm -->
													<form th:action="@{/removeUserFromBookingForm}" method="post"
														th:if="${bookingForm.getAssignedUser() != null}"
														sec:authorize="hasRole('ADMIN')"
														onsubmit="return confirm('Are you sure you want to remove this user from the booking form?');">
														<input type="hidden" name="bookingFormId"
															th:value="${bookingForm.id}" />
														<input type="hidden" name="userId"
															th:value="${bookingForm.getAssignedUser().id}" />
														<button type="submit" class="form-button">Rimuovi l'utente</button>
													</form>

													<!-- Button to open the assignment modal for status-->
													<button sec:authorize="hasRole('ADMIN')"
														class="form-button assign-status-button" type="button"
														data-toggle="modal"
														th:data-target="'#assignStatusModal-' + ${bookingForm.id}">
														Assegna stato
													</button>

													<!-- Modal for user assignment -->
													<div th:id="'assignUserModal-' + ${bookingForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-user-content hidden">
																<div class="modal-body">
																	<form action="/assignUserBooking" method="post">
																		<input type="hidden" th:name="bookingFormId"
																			th:value="${bookingForm.id}">

																		<!-- User dropdown list -->
																		<div class="assignment-form">
																			<label for="userSelect">Seleziona un utente</label>
																			<select class="form-control" id="userSelect"
																				name="userId" required>
																				<option value="" disabled selected>
																					Seleziona un utente</option>
																				<option th:each="user : ${users}"
																					th:value="${user.id}"
																					th:text="${user.name + ' ' + user.surname}">
																				</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-user-submit-button">Assegna un utente</button>
																			<button type="button"
																				class="request-action-close-modal close-user-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>

													<!-- Modal for status assignment -->
													<div th:id="'assignStatusModal-' + ${bookingForm.id}">
														<div class="modal-dialog" role="document">
															<div class="assign-status-content hidden">
																<div class="modal-body">
																	<form action="/assignStatusBooking" method="post">
																		<input type="hidden" th:name="bookingFormId"
																			th:value="${bookingForm.id}">

																		<!-- Status dropdown list -->
																		<div class="form-group">
																			<label for="statusSelect">Seleziona uno stato</label>
																			<select class="form-control"
																				id="statusSelect"
																				name="bookingFormStatus" required>
																				<option value="" disabled selected>
																					Seleziona uno stato</option>
																				<option value="TO DO">To do</option>
																				<option value="IN PROGRESS">In progress
																				</option>
																				<option value="DONE">Done</option>
																			</select>
																		</div>
																		<div class="request-action-button-container">
																			<button type="submit"
																				class="assign-status-submit-button">Assegna stato</button>
																			<button type="button"
																				class="request-action-close-modal close-status-assignment">x</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Check if there's a message -->
			<div th:if="${noResults != null}">
				<p th:text="${noResults}"></p>
			</div>
			<div th:if="${assignedForms != null and assignedForms.size() > 0}">
				<!-- Pagination Controls -->
				<div class="pagination">
					<!-- First Page -->
					<a class="pagination-button" th:if="${currentPage > 1}"
						th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id}, page=1, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType})}">First</a>

					<!-- Previous Page -->
					<a class="pagination-button" th:if="${currentPage > 1}"
						th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id}, page=${currentPage - 1}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType})}">Previous</a>

					<!-- Page Numbers -->
					<span th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a class="pagination-button"
							th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id}, page=${i}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType})}"
							th:classappend="${i == currentPage ? 'btn-primary text-white' : 'btn-light'}"
							th:text="${i}"></a>
					</span>

					<!-- Next Page -->
					<a class="pagination-button" th:if="${currentPage < totalPages}"
						th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id}, page=${currentPage + 1}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType})}">Next</a>

					<!-- Last Page -->
					<a class="pagination-button" th:if="${currentPage < totalPages}"
						th:href="@{/admin/yourTasksPublic/{userId}(userId=${user.id}, page=${totalPages}, sortBy=${sortBy}, categories=${#strings.arrayJoin(categoriesSelected, ',')}, statuses=${#strings.arrayJoin(statusesSelected, ',')}, formType=${formType})}">Last</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>